Project Development Phase/Sprint4/final_flow.json
[{"id":"9f8b25baa90e3549","type":"tab","label":"Smart Solutions for Railways","disabled":false,"info":"","env":[]},{"id":"d97ad5e79c4fce79","type":"ibmiot in","z":"9f8b25baa90e3549","authentication":"apiKey","apiKey":"b496a493c6f42d7b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":960,"wires":[["041de2b9fd8fc6b5","cb4dc34df4e6119b","d310edadea5c9535"]]},{"id":"2e013bc4834f7885","type":"debug","z":"9f8b25baa90e3549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":960,"wires":[]},{"id":"11f92cce7a11e8a1","type":"ui_dropdown","z":"9f8b25baa90e3549","name":"Destination Station","label":"Destination Station","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Hyderabd","type":"str"},{"label":"","value":"Delhi","type":"str"},{"label":"","value":"Mumbai","type":"str"},{"label":"","value":"Chennai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":130,"y":860,"wires":[["be1d180cb2ca5d76"]]},{"id":"4b4b58f0de5af03d","type":"ui_dropdown","z":"9f8b25baa90e3549","name":"Boarding Station","label":"Boarding Station","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Chennai","type":"str"},{"label":"","value":"Hyderabad","type":"str"},{"label":"","value":"Delhi","type":"str"},{"label":"","value":"Mumbai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":120,"y":800,"wires":[["e8f207d46d9432c8"]]},{"id":"e8f207d46d9432c8","type":"function","z":"9f8b25baa90e3549","name":"Boarding","func":"global.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":800,"wires":[[]]},{"id":"be1d180cb2ca5d76","type":"function","z":"9f8b25baa90e3549","name":"Destination","func":"global.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":860,"wires":[[]]},{"id":"ccc8b4bfa12ab145","type":"ui_form","z":"9f8b25baa90e3549","name":"","label":"","group":"e73ac0a4661fbd45","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Phone Number","value":"phn","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"name":"","phn":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":680,"wires":[["dc7ff81171af1424","a51b4df2eb6fac2c","e2267604e91abb06"]]},{"id":"df0f1ffbd43e70fa","type":"ui_button","z":"9f8b25baa90e3549","name":"","group":"e47d30d9cf5858dc","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":740,"wires":[["7290313b6fd63537"]]},{"id":"7290313b6fd63537","type":"function","z":"9f8b25baa90e3549","name":"","func":"global.set('s1',0)\nglobal.set('s2',0)\nglobal.set('s3',0)\nglobal.set('s4',0)\nglobal.set('s',0)\nvar a1 = [1,2,3,4,5]\nglobal.set('a',a1)\nmsg.payload = global.get('a')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":740,"wires":[["6db76cfb761927a5"]]},{"id":"dc7ff81171af1424","type":"delay","z":"9f8b25baa90e3549","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":680,"wires":[["6db76cfb761927a5"]]},{"id":"a51b4df2eb6fac2c","type":"function","z":"9f8b25baa90e3549","name":"","func":"var s = global.get('s')\nvar a = global.get('a')\n\nfunction rem(x){\n    for(let i=0;i<a.length;i++){\n        if(a[i]==x){\n            a.splice(i,1)\n        }\n    }\n}\n\nif (s==1){\n    global.set('s1',s)\n    rem(s)\n}\nelse if (s==2){\n    global.set('s2',s)\n    rem(s)\n}\nelse if (s==3){\n    global.set('s3',s)\n    rem(s)\n}\nelse if (s==4){\n    global.set('s4',s)\n    rem(s)\n}\nelse if (s==5){\n    global.set('s5',s)\n    rem(s)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":620,"wires":[["97415c5d110a4ca3"]]},{"id":"e2267604e91abb06","type":"function","z":"9f8b25baa90e3549","name":"m","func":"global.set('m',msg.payload)\nvar a = global.get('s')\nif (a==1 || a==2 || a==3 || a==4 || a==5){\n    msg.payload = 0\n}\nelse{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":560,"wires":[["5aa958e1e4642f0b"]]},{"id":"6db76cfb761927a5","type":"function","z":"9f8b25baa90e3549","name":"","func":"var a = global.get('a')\nvar s = []\nfor(let i=0;i<a.length;i++)\n{\n    s.push(a[i])\n    \n}\nif (s.length==0)\n{\n    msg.options = [{\"No seats available\":0}]\n    \n}\nelse\n{\n    msg.options = s\n    \n}\nmsg.payload = s\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":700,"wires":[["1278da20c8da5461"]]},{"id":"1278da20c8da5461","type":"ui_dropdown","z":"9f8b25baa90e3549","name":"","label":"Seats","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":610,"y":700,"wires":[["d00f2fd6a216f197"]]},{"id":"d00f2fd6a216f197","type":"function","z":"9f8b25baa90e3549","name":"","func":"global.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":700,"wires":[[]]},{"id":"97415c5d110a4ca3","type":"debug","z":"9f8b25baa90e3549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":620,"wires":[]},{"id":"5aa958e1e4642f0b","type":"switch","z":"9f8b25baa90e3549","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":560,"wires":[["6b83458740744f4c"],["5c4f5858951d0198"]]},{"id":"5c4f5858951d0198","type":"function","z":"9f8b25baa90e3549","name":"","func":"msg.payload = \"Ticket cannot be booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":560,"wires":[["7afff2ddb7277911"]]},{"id":"6b83458740744f4c","type":"function","z":"9f8b25baa90e3549","name":"Storing Data in DB","func":"var m = global.get('m')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,19)\nvar d1 = date+','+time\nmsg.payload = {\n    \"_id\" :d1,\n    \"Name\":m.name,\n    \"Age\":m.age,\n    \"Mobile\":m.phn,\n    \"Boarding\":global.get('b'),\n    \"Destination\":global.get('d'),\n    \"Seat\":global.get('s')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":480,"wires":[["3ca79556277c7175","dbcf29c684e40fb9"]]},{"id":"3ca79556277c7175","type":"function","z":"9f8b25baa90e3549","name":"QR Code data","func":"msg.qrcodeinput = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["11b0155bda658ac3","47e80bc43c6c3c9e"]]},{"id":"11b0155bda658ac3","type":"debug","z":"9f8b25baa90e3549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"47e80bc43c6c3c9e","type":"qrcode-generator","z":"9f8b25baa90e3549","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":510,"y":140,"wires":[["3b675ec79138b129","130aa6f0d288bda0","3c5f82735f78baeb","9668fbb6d40185be","7be9ae60c041aba5"]]},{"id":"3b675ec79138b129","type":"function","z":"9f8b25baa90e3549","name":"","func":"msg.payload = \"Ticket is Generated\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":60,"wires":[["9340be41b347472e"]]},{"id":"130aa6f0d288bda0","type":"delay","z":"9f8b25baa90e3549","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":220,"wires":[["3f596ee75d47de71"]]},{"id":"3f596ee75d47de71","type":"function","z":"9f8b25baa90e3549","name":"Empty Data","func":"msg.payload = \"\"\nglobal.set('s',0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":220,"wires":[["3c5f82735f78baeb"]]},{"id":"3c5f82735f78baeb","type":"ui_template","z":"9f8b25baa90e3549","group":"e73ac0a4661fbd45","name":"","order":5,"width":"6","height":"6","format":"<img src=\"{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1020,"y":140,"wires":[[]]},{"id":"9340be41b347472e","type":"ui_toast","z":"9f8b25baa90e3549","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":910,"y":60,"wires":[[]]},{"id":"7afff2ddb7277911","type":"ui_toast","z":"9f8b25baa90e3549","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":790,"y":560,"wires":[[]]},{"id":"041de2b9fd8fc6b5","type":"ui_worldmap","z":"9f8b25baa90e3549","group":"feddcd6b3a8c35cc","order":8,"width":"12","height":"12","name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":400,"y":1180,"wires":[]},{"id":"dbcf29c684e40fb9","type":"cloudantplus out","z":"9f8b25baa90e3549","name":"","cloudant":"de22aed535e12e11","database":"booking","service":"_ext_","payonly":true,"operation":"insert","x":260,"y":380,"wires":[[]]},{"id":"9668fbb6d40185be","type":"debug","z":"9f8b25baa90e3549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"7be9ae60c041aba5","type":"function","z":"9f8b25baa90e3549","name":"","func":"msg.payload = Buffer.from(msg.payload.substr(22), 'base64');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":360,"wires":[["431d47db721355f3","42998db7b3acbbc2"]]},{"id":"431d47db721355f3","type":"debug","z":"9f8b25baa90e3549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":420,"wires":[]},{"id":"42998db7b3acbbc2","type":"change","z":"9f8b25baa90e3549","name":"Mail Content","rules":[{"t":"set","p":"cid","pt":"msg","to":"","tot":"date"},{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'image_' & $replace($now(),\":\",\"_\") & '.jpg', \t    \"content\": $$.payload,\t    \"cid\": \"\" & cid & \"\"\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Ticket Confirmation","tot":"str"},{"t":"set","p":"html","pt":"msg","to":"<img src=\"{{msg.payload}}\">","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["98f51dafae789d8b","d59ab138df99871e"]]},{"id":"d59ab138df99871e","type":"debug","z":"9f8b25baa90e3549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":420,"wires":[]},{"id":"f2aca1fdee6716c7","type":"http in","z":"9f8b25baa90e3549","name":"","url":"/gps","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1280,"wires":[["69f938801e188733"]]},{"id":"c0af3e3406d98018","type":"http response","z":"9f8b25baa90e3549","name":"","statusCode":"","headers":{},"x":610,"y":1280,"wires":[]},{"id":"cb4dc34df4e6119b","type":"function","z":"9f8b25baa90e3549","name":"","func":"msg.payload = msg.payload.lat\nglobal.set(\"lat\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":960,"wires":[["2e013bc4834f7885"]]},{"id":"69f938801e188733","type":"function","z":"9f8b25baa90e3549","name":"","func":"msg.payload = {\"latitude\":global.get(\"lat\"), \"longitude\":global.get(\"lon\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1280,"wires":[["c0af3e3406d98018"]]},{"id":"d310edadea5c9535","type":"function","z":"9f8b25baa90e3549","name":"","func":"msg.payload = msg.payload.lon\nglobal.set(\"lon\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1060,"wires":[["2e013bc4834f7885"]]},{"id":"98f51dafae789d8b","type":"e-mail","z":"9f8b25baa90e3549","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"prithivimaruthachalam@gmail.com","dname":"Send Mail","output":false,"outputs":0,"x":1120,"y":320,"wires":[]},{"id":"b496a493c6f42d7b","type":"ibmiot","name":"IBMIOT KEYS","keepalive":"60","serverName":"1xisxi.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e73ac0a4661fbd45","type":"ui_group","name":"Stations","tab":"0af7ccf30ca4ffbf","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"e47d30d9cf5858dc","type":"ui_group","name":"Data Management","tab":"aae4ff979cb99a13","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"feddcd6b3a8c35cc","type":"ui_group","name":"Live Location","tab":"46f37690fa585201","order":3,"disp":true,"width":"12","collapse":false,"className":""},{"id":"de22aed535e12e11","type":"cloudantplus","host":"https://apikey-v2-1g0tajj2ya23rva420ga3xjhedsh135ljftxzxvqfxwq:82bca5b0a21ab96b35d79d5651c15947@8bdd9d2e-653d-460c-95cb-e02b5803b7ca-bluemix.cloudantnosqldb.appdomain.cloud","name":"","useapikey":false},{"id":"0af7ccf30ca4ffbf","type":"ui_tab","name":"Booking","icon":"dashboard","disabled":false,"hidden":false},{"id":"aae4ff979cb99a13","type":"ui_tab","name":"Admin","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"46f37690fa585201","type":"ui_tab","name":"Tracking","icon":"dashboard","disabled":false,"hidden":false}]